.container {
  padding: 5px;
}
.cards__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
